<!DOCTYPE html>
<html>
  <head>
    <title>View | Presenter.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <script src="view.js"></script>
    <link rel="stylesheet" href="view.css">
  </head>
  <body>
    <div class="scene-entry">
      <div>
        <input type="text" id="conn-code" placeholder="Presentation Code">
        <button class="btn" id="conn-btn">Connect</button>
      </div>
    </div>
    <div class="scene-view" style="display:none">
      <div class="active-slide">
        <div id="current-image"></div>
        <div class="slides-loading" style="display:none"><span>Loading slides</span></div>
      </div>
    </div>
  </body>
</html>