body {
  touch-action: manipulation;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.scene-entry {
  padding: 16px;
  color: #121212;
  box-sizing: border-box;
  margin: auto;
  padding-top: 200px;
  text-align: center;
}

.btn {
  background-color: #303030;
  color: #FFFFFF;
  padding: 8px 20px;
  border: none;
}

.btn:disabled {
  background-color: #B0B0B0;
}

#conn-code {
  padding: 7px 5px;
  border: 1px solid #808080;
}

.scene-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.active-slide {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.slides-loading {
  font-size: 24px;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
}

#current-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.slide-image {
  object-fit: contain;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}
